.cardBox {
  height: 280px;
  width: 240px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 4px 16px 0px #b9a37e;
  margin: 10px;
  .image {
    border-radius: 4px;
  }
}
